:root {
  --primary-color: hsl(171, 66%, 44%);
  --primary-color-focus: rgba(38, 186, 164, 0.75);
  --secondary-color: hsl(233, 100%, 69%);
  --secondary-color-focus: hsla(233, 100%, 69%, 0.75);

  --text-primary-color: hsl(210, 10%, 33%);
  --text-secondary-color: hsl(201, 11%, 66%);

  --social-icon-color: #4c545c;

  --white: #fff;

  --footer-background-color: rgba(158, 171, 178, 0.1);
}
